.shop {
  width: 100%;
}

.shop-container {
  /*overflow: auto;*/
  display: grid;
  width: 100%;
  gap: 4px;
  /*padding: 80px;*/
  box-sizing: border-box;
  border: 1px solid grey;
  background-color: skyblue;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(224px, 1fr));
  gap: 64px 32px;
}
