.product-details {
  height: 90%;
  display: grid;
  grid-template-columns: 45% 1fr;
  grid-template-rows: 1fr;
  gap: 80px;
  box-sizing: border-box;

  .product-details-image {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center center;
    border: 1px solid #a5a5a5;
    border-radius: 8px;
  }
  .cta {
    display: flex;
  }

  .product-details-infos {
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: start;

    .details-title-rate {
      display: flex;
      flex-direction: column;
      gap: 8px;
      align-items: start;
      span {
        font-size: 14px;
        color: rgba($color: #000000, $alpha: 0.6);
      }
    }
  }
}
