.shopping-cart {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px 48px;
  align-items: start;
}

.shopping-cart-top {
  width: 100%;
  display: flex;
  justify-content: space-between;

  .cart-items-counter {
    font-size: 32px;
    font-weight: 600;
  }
}

.all-cart-items {
  display: grid;
  width: 100%;

  box-sizing: border-box;
  grid-template-rows: auto;
  grid-template-columns: repeat(auto-fit, minmax(200px, 304px));
  gap: 32px 24px;
}

.order-summary {
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: rgba($color: #ffffff, $alpha: 0.7);
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: end;
  border-top: 1px solid #333333;

  button {
    padding: 32px 48px;
  }
}

@media (max-width: 800px) {
  .shopping-cart-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1 {
      font-size: 24px;
    }

    .cart-items-counter {
      font-size: 16px;
      font-weight: 400;
    }
  }

  .order-summary {
    background-color: rgba($color: #ffffff, $alpha: 0.9);
    button {
      padding: 24px 40px;
    }
  }
}
