.navbar {
  display: flex;
  justify-content: space-between;
  padding: 48px;
  color: #666666;
  gap: 16px;
  position: relative;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    color: inherit;

    position: relative;
    transition: 0.3s linear;
  }

  a:hover {
    color: #141414;
    font-weight: 700;
    transition: 0.3s linear;
  }

  a:after {
    content: '';
    position: absolute;
    background-color: #181818;
    height: 2px;
    width: 0;
    right: 0;
    bottom: -10px;
    transition: 0.3s;
  }

  a:hover:after {
    width: 100%;
  }
}
.navbar-links {
  height: 100%;

  ul {
    display: flex;
    gap: 80px;
  }

  ul,
  li {
    list-style: none;
  }
}

.active {
  a {
    color: #141414;
    font-weight: 700;
  }

  a:after {
    content: '';
    position: absolute;
    background-color: #181818;
    height: 2px;
    width: 100%;
    right: 0;
    bottom: -10px;
    transition: 0.3s;
  }
}

.toggle-button {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 24px;
  height: 16px;
  transition: 0.3s linear;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #141414;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;

    a {
      font-size: 14px;
    }

    a:after {
      content: '';
      position: absolute;
      background-color: #181818;
      height: 2px;
      width: 0%;
      right: 0;
      bottom: -4px;
    }
    .active {
      a {
        color: #141414;
        font-weight: 700;
      }

      a:after {
        content: '';
        position: absolute;
        background-color: #181818;
        height: 2px;
        width: 100%;
        right: 0;
        bottom: -4px;
        transition: 0.3s;
      }
    }
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    padding-top: 24px;
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
    gap: 24px;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: 0.5rem 1rem;
  }

  .navbar-links.mobile-show {
    display: flex;
  }
}
