#root {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.content {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 24px;
}

.secondary-button {
  padding: 8px 16px;
  color: #181818;
  background-color: #ffffff;
  border: 1px solid #181818;
  font-size: 14px;
  transition: 0.4s;
  cursor: pointer;
}

.secondary-button:hover {
  color: white;
  background-color: #181818;
}

.cta-button {
  padding: 16px 32px;
  color: white;
  background-color: #181818;
  border: none;
  font-size: 18px;
  transition: 0.3s;
  cursor: pointer;
}

.cta-button:hover {
  color: white;
  background-color: #424242;
}

.minus-plus-button-container {
  align-self: center;
  display: flex;
  gap: 16px;
  align-items: center;
  border: 1px solid #000000;

  button {
    border: none;
    padding: 12px 16px;
    background: none;
    font-weight: 600;
    width: 48px;
    transition: 0.3s;
    cursor: pointer;
  }

  .increment-button {
    border-left: 1px solid #181818;
  }
  .decrement-button {
    border-right: 1px solid #181818;
  }

  button:hover {
    color: white;
    background-color: #181818;
  }
}

.page {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 40px;
  justify-items: start;
  padding: 0 48px;
}

@media (max-width: 800px) {
  .content {
    gap: 24;

    h1 {
      font-size: 24px;
    }
  }

  .page {
    padding: 0 24px;
  }
}
