#root {
  width: 100vw;
  margin: 0 auto;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: 100vh;
}

.secondary-button {
  padding: 8px 16px;
  color: #181818;
  background-color: #ffffff;
  border: 1px solid #181818;
  font-size: 14px;
  transition: 0.4s;
  cursor: pointer;
}

.secondary-button:hover {
  color: white;
  background-color: #181818;
}

.cta-button {
  padding: 16px 32px;
  color: white;
  background-color: #181818;
  border: none;
  font-size: 18px;
  transition: 0.4s;
  cursor: pointer;
}

.cta-button:hover {
  padding: 16px 32px;
  color: white;
  background-color: #424242;
}

.minus-plus-button-container {
  align-self: center;
  display: flex;
  gap: 8px;
  align-items: center;
  border: 1px solid #000000;
  border-radius: 4px;

  button {
    border: none;
    padding: 8px 16px;
    background: none;
    font-weight: 600;
  }
}
